<div class="panel panel-success">
  <div class="panel-heading">
    Edit Vehicle
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehicleMake">Make</label>
          <input type="text"
            class="form-control"
            id="vehicleMake"
            ng-model="vehiclesDetailCtrl.vehicle.make">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehicleModel">Model</label>
          <input type="text"
            class="form-control"
            id="vehicleModel"
            ng-model="vehiclesDetailCtrl.vehicle.model">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehicleYear">Year</label>
          <input type="text"
            class="form-control"
            id="vehicleYear"
            ng-model="vehiclesDetailCtrl.vehicle.year">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehicleColor">Color</label>
          <input type="text"
            class="form-control"
            id="vehicleColor"
            ng-model="vehiclesDetailCtrl.vehicle.color">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehicleType">Vehicle Type</label>
          <input type="text"
            class="form-control"
            id="vehicleType"
            ng-model="vehiclesDetailCtrl.vehicle.vehicleType">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="vehiclePrice">Retail Price</label>
          <input type="text"
            class="form-control"
            id="vehiclePrice"
            ng-model="vehiclesDetailCtrl.vehicle.retailPrice">
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <button class="btn btn-success pull-right" ng-click="vehiclesDetailCtrl.save()">
      Save <i class="glyphicon glyphicon-save"></i>
    </button>
  </div>
</div>
